.nav-drop {
  position: fixed;
  top: 0;
  left: 5vw;
  z-index: 8;
  text-align: center;
  width: 3vw;
  padding: 1vh 0.5vw;
  border-bottom: solid 1px red;
  border-right: solid 1px red;
  border-left: solid 1px red;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
