.nav-drop {
  position: fixed;
  top: 0;
  left: 5vw;
  z-index: 8;
  text-align: center;
  width: 6vw;
  padding: 1vh 0.5vw;
  border-bottom: solid 1px #ee878033;
  border-right: solid 1px #ee878033;
  border-left: solid 1px #ee878033;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.nav-item {
    cursor: pointer;
    color: #ee8780;
    font-size: 2.1rem;
    text-shadow: 2px 1px 2px #0d0d0d;
    padding: 2px 0;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #ee878033;
  }
  to {
    box-shadow: 0 0 40px #f3f3f333;
  }
}
